body{
    background-color: #f6f8fc;
}

header{
    width:100%;
}

#logo, #nav{
    height:70px;
    display: inline-block;
    margin:auto;
}

.logo-width{
    width:18%;
}

.main-width{
    width:82%;
}

#nav{
    float:right;
    margin-left:0px;
}

#logo{
    float:left;
    margin-right:0px;
    text-align: center;
    padding-top: 20px;
}

#search-button{
    align-items: center;
    justify-content: center;
}

#logout{
    width:30px;
    height:30px;
    border-radius: 50%;
    border-style: double;
    border-color: grey;
}

#side-menu, #mail-list{
    height:500px;
    display: inline-block;
    margin:auto;
    text-align: center;
    border-radius: 3%;
}

#side-menu{
    float:left;
    margin-right:0px;
    padding-top:20px;
    text-align: right;
}
.count{
    font-size: xx-small;
}
#mail-list{
    float:right;
    margin-left:0px;
}

#search-mail{
    width:70%;
    
}
.form-control{
    display:inline-block;
    width:70%;
}

.navbar-nav{
    flex-direction: row;
}

#nav ul{
    margin-right:10px;
}

#header-icons li{
    margin:5px;
}

@media only screen and (max-width: 487px) {
    #search-mail{
        width:50%;
    }

    .form-control{
        display:inline-block;
        width:70%;
        height:25px;
        font-size: x-small;
    }


    
    #logout{
        width:30px;
        height:30px;
    }
    #search-button{
        display: inline-flex;
        width:10px;
        height:25px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    #search-button i{
        font-size: small;
        margin:auto
    }
  }

#mail-list{
    background-color: white;
}

#mail-list li{
    padding-left:15px;
}

.icons-list li{
    padding-right:7px;
    font-size: small;
}

.count{
    float:right;
}


@media only screen and (max-width: 715px) {
    .count{
        display:none;
    }

    .side-menu-row{
        width:70px;
    }
    #logo{
        padding-right:10px;
        padding-left:10px;
    }
}

@media only screen and (max-width: 840px) {
    .name{
        font-size: xx-small
    }
}

ul{
    list-style-type: none;
    text-align: left;
}

a{
    text-decoration: none;
    color: black;
}

#inbox-link{
    background-color:#88d7eb;
}

#side-menu .row{
    margin-right: 5px;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
    font-size: small;
}

#new{
    background-color:#c8f0f7;
    width:60px;
    height:40px;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-left:7px;
    text-align: left;
    padding-left:6px;
    font-size: small;
    border-radius: 20%;
    
}

#new-text{
    display: inline;
    justify-content: center;
}

.row>*{
    padding-right: 2px;
    padding-left: 2px;
}

.mail-preview{
    font-weight: bold;
}

#mail-list .row{
    border-bottom-style: solid;
    border-bottom-color:#ebeef2;
    border-width: 1px;
}
@media only screen and (max-width: 435px) {
    #mail-list li{
        padding-left:8px;
    }

    .name{
        display:none;
    }

    #new{
        width:30px;
    }

    .side-menu-row{
        width:40px;
    }
    
    #logo{
        font-size:small;
    }
    #new-text{
        display: none;
    }

    #new{
        height: 25px;
        padding-top: 2px;
    }
}

.from{
    text-align: left;
}

.mail-row{
    font-size:small;
}

#mail-header-icons{
    font-size: xx-small;
}