body{
    background:#f6f8fc; 
}

header{
    margin:10px;
}
#search{
    width:75%;
}

#search-container{
    width:80%;
}

#logout{
    border-style: double;
    border-color: lightgray;
    border-radius: 100%;
    width:36px;
    height:36px;
    padding: 4px;
    background: lightskyblue;
    text-align: center;
}

#mail-list{
    height:600px;
    background: white;
    border-radius: 2%;
    width:70%;
    float: right;
    margin-right:20px;
}

#side-menu{
    height:600px;
    float: left;
    width:20%;
    margin-left:20px;
    margin-top:10px;
}

#new{
    background:lightblue;
    border-radius:5%;
    text-align: center;
    height:50px;
    padding:15px;
    margin-bottom: 10px;
}
#side-menu ul{
    list-style-type: none;
    margin:auto;
}

#side-menu a{
    text-decoration: none;
    color:black;
}

.mail-row{
    border-bottom-style: solid;
    border-color: lightgrey;
    border-width: 0.6px;
    margin-left: 10px;
    margin-right: 10px;
    height:25px;
    overflow: hidden;
}

#mail-nav{
    margin-left: 20px;
    margin-right: 20px;
    height:50px;
}

.folder-btn{
    width:100%;
    text-align: left;
    background: white;
    border-style: none;
}

#folder-row{
    border-bottom-style: solid;
    border-color: lightgrey;
    border-width: 0.6px;
    margin-left: 10px;
    margin-right: 10px;
    height:50px;
    padding-left: 0xp;
}
