body{
    background:#f6f8fc; ;
}


header{
    margin-left: 20px;
    margin-right:20px;
}
.navbar{
    width:90%;
    margin:auto;
}
#login-btn{
    border-radius: 100%;
    border-style: double;
    border-color:grey;
}

#header-nav li{
    padding:10px;
}

header form{
    width:40%;
    float:left;
}

#mail-search, #mail-search-btn{
    height:40px;
}

#mail-search{
   width:75%;
}

#home h1{
    padding:10px;
    display:inline;
}

header ul{
    float:right;
}

