body{
    background:#f6f8fc; 
}

header{
    margin:10px;
    margin-bottom: 0px;
}

#logo{
    padding:10px;
    width:20%;
}
#search{
    width:80%;
    margin-left:0;
}

#logo-search{
    width:85%;
}

#logout{
    border-style: double;
    border-color: lightgray;
    border-radius: 100%;
    width:36px;
    height:36px;
    padding: 4px;
    background: lightskyblue;
    text-align: center;
}

@media (min-width: 510px){
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }

    .navbar-nav li {
        margin:5px;
    }
}

#mail-list{
    height:300px;
    background: white;
    border-radius: 2%;
    width:83%;
    float: right;
    overflow: scroll;
}

#side-menu{
    height:600px;
    float: left;
    width:17%;
    margin-top:10px;
}

#new{
    background:lightblue;
    border-radius:5%;
    text-align: center;
    height:50px;
    padding:15px;
    margin-bottom: 10px;
}
#side-menu ul{
    list-style-type: none;
    margin:auto;
}

#side-menu a{
    text-decoration: none;
    color:black;
}

.mail-row{
    border-bottom-style: solid;
    border-color: lightgrey;
    border-width: 0.6px;
    margin-right: 10px;
    height:35px;
    overflow: hidden;
    padding: 5px;
}


.time{
    font-size: small;
    text-align: right;
}

#mail-nav{
    margin-right: 20px;
    height:50px;
}

.pages{
    margin-left:10px;
    margin-right: 10px;
    font-size: small;
}

.folder-btn{
    width:100%;
    text-align: left;
    background: white;
    border-style: none;
}

#folder-row{
    border-bottom-style: solid;
    border-color: lightgrey;
    border-width: 0.6px;
    margin-right: 10px;
    height:50px;
    padding-left: 0xp;
}

